{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_format, rebar3_ex_doc]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [blockade]}]}.

{hex, [{doc, ex_doc}]}.

{ex_doc,
 [{source_url, <<"https://github.com/alfetahe/blockade">>},
  {extras, [<<"README.md">>, <<"LICENSE.md">>]},
  {main, <<"readme">>}]}.

{format, [{formatter, default_formatter}, {options, #{paper => 100}}]}.
